@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

:root{
    --a:0;
}

body{
    background-color: black;
    color: white;
}
.left{
    width: 25vw;
    padding: 10px;
    padding-right: 0;
}
.right{
    width: 75vw;
    margin: 16px 0;
    margin-right: 14px;
    /* height: 98vh; */
    /* padding-bottom: 19px; */
    position: relative;
}
.container{
    gap: 10px;
    
}
.home ul li{
    display: flex;
    list-style: none;
    width: 15px;
    gap: 14px;
    padding-top: 14px;
}
.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    /* padding-top: 14px; */
    /* padding-right: 15px; */
    font-size: 10px;

}
.library{
    /* min-height: 80vh; */
    height: 100vh;
    /* height: inherit; */
    position: relative;
    
}
.heading img{
    width: 30px
}
.footer{
    display: flex;
    font-size: 10px;
    width: 90%;
    /* flex-wrap: wrap; */
    gap: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    /* padding: 10px;
    d */
    display: flex;
    justify-content: center;
}
.footer a{
    color: gray;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    /* max-height: 5.2rem; */
}
.header > *{
    padding: 20px;
}

.spotifyPlaylists{
    padding: 16px;
}

.spotifyPlaylists .card{
    width: 180px;
    border: none;
    padding: 10px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    transition: all 1s;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    max-height:50vh;
    overflow-y: auto;
}
.card p{
    font-weight: lighter;
    font-size: 15px;
    padding: 4px;
}
.card h2{
    padding: 4px;
}
.card img{
    width: 100%;
    
    object-fit: cover;
}


.play img{
    background-color: #1fdf64;
    border: none;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    position: absolute;
    bottom: 5%;
    left: 68%;
    opacity: var(--a);
    transition: all 1s;
    object-fit: contain;
}
.card:hover{
    cursor: pointer;
    background-color: rgb(71, 68, 68);
    --a:1;
    
}

.card:hover .play img {
    bottom: 37%;
}
.signBtn,.loginBtn{
    border: none;
    border-radius: 23px;
    padding: 6px 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(83, 77, 77);
    cursor: pointer;
    width: 70px;
    
}
.signBtn:hover,.loginBtn:hover{
    color: rgb(11, 11, 11);
}
.signBtn:active,.loginBtn:active{
    transform:scale(0.1);
    transition: all 1s ease-in;
}


.playbar {
    position: fixed;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(20, 20, 20, 0.8), rgba(50, 50, 50, 0.95));
    backdrop-filter: blur(10px);
    box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.2), 0 0 15px rgba(255, 255, 255, 0.1);
    width: 70vw;
    padding: 4px;
    height: 4rem;
    
    margin-bottom: 6px;
    /* border-radius: 15px; */
    border: solid rgba(255, 255, 255, 0.2) 1px;
    gap: 5px;
}

.songbutton{
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}

.songList{
    height: 32rem;
    overflow: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.songList ul{
    padding: 12px;   
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    cursor: pointer;
    padding: 12px 6px;
    border: 1px solid wheat;
    margin: 10px 0;
    border-radius: 5px;
    
}
.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    
}

.info{
    font-size: 12px;
    width: 10rem;
}
.seekbar{
    height: 2px;
    width: 91%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin-bottom: 4px;
    cursor: pointer;
}
.circle{
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 93px;
    background-color: black;
    bottom: -3.8px;
    left: -0.2%;
    transition: left 0.3s;
}

.songbutton img{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 10s;
    cursor: pointer;
}

.songbutton{
    width: 12rem;
}
.songinfo{
    width: 18rem;
    height: 90%;
    /* overflow: hidden; */
    /* text-wrap: wrap; */
    /* padding-bottom: 0px; */
    /* padding-left: 10px;
    padding-right: 10px; */
    /* object-fit: contain; */
}
.songinfo,.songtime{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.close{
    /* display: none; */
    position: absolute;
    right: 30px;
    top: 30px;
}
.close:hover{
    cursor: pointer;
}
.timeVolume{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.volume{
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
}
.volume img{
    cursor: pointer;
}

@media screen and (max-width: 1332px){
    .left{
        /* background-color: red; */
        position: absolute;
        left: -140%;
        transition: all 0.5s;
        z-index: 1;
        width: 433px;
        margin-bottom: 0;
        border: none;
    }
    .library{
        height: 395px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    .footer{
        font-size: 7px;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .cardContainer{
        justify-content: center;
    }
    .right{
        width: 95vw;
        margin-right: 0;
    }
    .playbar{
        width: 96vw;
        left: 8px;
        bottom: 2px;
        height: 7rem;
        /* margin-left: 10px; */
        
    }
    /* .circle{
        left: -0.8%;
    } */

    .hamburger{
        display: inline;
        margin-right: 15px;
    } 
}

@media screen and (max-width: 400px){
    .left{
        /* background-color: red; */
        width: 333px;
    }
    .playbar{
        height: 7rem;
        font-size: 13px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 18px 0px;
        /* margin-left: 0; */
    }  
    .volume{
        flex-direction: row;
        gap: 2px;
    }
    .songinfo{
        font-size: 15px;
    }
    
}
@media screen and (max-width:468px){
    .spotifyPlaylists .card{
        width: 250px;
    }
    .cardContainer{
        /* justify-content: center; */
        max-height: 55vh;
        
    }
}
@media screen and (max-width: 356px){
    .header{
        /* display: flex; */
        flex-direction: column;
    }
    
}
