.border{
    border: 2px solid black;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-items{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-gray{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m1{
    margin: 5px;
}
.p1{
    padding: 10px;
}


/* Scrollbar for WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e; /* Dark track */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #444; /* Dark gray thumb */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666; /* Lighter gray on hover */
}

/* Scrollbar for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #444 #1e1e1e;
}

